@page "{id:int}"
@model Web.Pages.Recipes.EditModel
@using Entities
@{
    ViewData["Title"] = $"Edit {Model.Recipe.Name}";
}

<h1>Edit @Model.Recipe.Name</h1>


<form method="post">
    <input asp-for="Recipe.Id" type="hidden" readonly />
    <div class="form-group">
        <label asp-for="Recipe.Name"></label>
        <input asp-for="Recipe.Name" />
        <span asp-validation-for="Recipe.Name"></span>
    </div>
    <label asp-for="Recipe.Description"></label> @*So the label is above the textarea*@
    <div class="form-group ">
        <textarea asp-for="Recipe.Description"></textarea>
        <span asp-validation-for="Recipe.Description"></span>
    </div>
    <input type="submit" value="Save Changes" class="btn btn-primary" />
</form>


<h2 style="margin-top: 40px">Ingredients</h2>
<a asp-page="/Recipes/AddIngredients" asp-route-id="@Model.Recipe.Id">Add Ingredients</a>

<form method="post" asp-page-handler="UpdateIngredients">
    <input type="submit" value="Update Ingredients" class="btn btn-outline-dark" />
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Unit</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Ingredients.Count; i++)
            {
                <tr>
                    <td>@Model.Ingredients[i].Name</td>
                    <td>@Html.DisplayFor(modelItem => Model.Ingredients[i].Type)</td>
                    <td><select asp-for="@Model.Ingredients[i].Unit" asp-items="@Html.GetEnumSelectList<Unit>()"></select></td>
                    <td>
                        <input asp-for="@Model.Ingredients[i].Amount" />

                        <input asp-for="@Model.Ingredients[i].Id" type="hidden" readonly />
                        <input asp-for="@Model.Ingredients[i].RecipeId" type="hidden" readonly />
                    </td>
                    <td>
                        <a class="text-danger" asp-page="/Recipes/Edit" asp-page-handler="RemoveIngredient" asp-route-ingredientId="@Model.Ingredients[i].Id">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>